body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
    background-image:url(http://www.cuttyfruty.com/html/images/fond_d_ecran/back_ground.jpg);
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
    width: 100%;
   
   }

.header, .footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}
h1
{
 text-align: right;  
}
img
{
    float: right;
}
ul
{
  margin-left:50px;
  padding-left:50px;
}
