body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
    background-image:url(http://www.desktopwallpaperhd.net/wallpapers/3/a/background-pcbsd-share-ksplash-themes-galileo-local-overlay-branches-system-pictures-export-browser-32762.jpg);
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
    width: 100%;
    position:relative;
   
   }

.header{
    padding: 1em;
    color: white;
    background-color: #0a618a;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}
h1
{
 text-align: right;  
 margin-left:70px;
 
}
h3
{
  margin-left:65px;    
}
img
{
    float: right;
}
li{
   list-style:square;
}
ul
{
  margin-left:90px;
  padding-left:90px;
}
.footer {
   bottom:0;
   width:500%;
   height:60px; 
   clear:both;/* Height of the footer */
   text-align:center;
   }
   th
   {
    padding-left:60px;    
    font-size:16px;
    
   
   }
   table
   {
    border-collapse:collapse;   
     border-spacing: 2px;
    border-color: gray;
    margin-left:90px;
   }
   
   td {
       border: 1px solid transparent; /* No more visible border */
       transition: all 0.3s; /* Simple transition for hover effect */
       padding:2px;
   }
   th
   {
    color:white;
    font-size:20;
    text-align:left;
       }
   
  